.contact {
  margin-top: 100px;
}

.contact > h2 {
  font-size: 44px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary-color);
  margin-bottom: 55px;
}

.contact-main {
  display: flex;
  justify-content: space-between;
}

.contact-left-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

.contact-left-box > h3 {
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary-color);
  margin-bottom: 13px;
}

.contact-left-box > p {
  font-family: Ubuntu;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary-color);
}

/* ==== FORM ===== */

input,
textarea {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  width: 100%;
  color: white;
  padding: 15px;
  outline: none;
}

.contact-form {
  width: 570px;
}

.contact-form > h3 {
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary-color);
  margin-bottom: 13px;
}

.contact-form > p {
  font-family: Ubuntu;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary-color);
}

.contact-form-inputs {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.contact-input-name,
.contact-input-email {
  width: 48%;
}

.contact-textarea {
  resize: none;
}

.contact-form > button {
  background: unset;
  border: 1px solid var(--primary-color);
  color: white;
  padding: 7px 28px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease;
  font-weight: 500;
  margin-top: 20px;
}

.contact-form > button:hover {
  background: white;
  color: black;
}

.icons {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  justify-content: center;
}

.icons > a {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

.icons > a:hover {
  opacity: 1;
}
